*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

ul,
ol {
  list-style: none;
}

.page {
  display: flex;
  align-items: center;

  /* justify-content: center; 1 */

  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

.content {
  display: flex;
  align-items: end; /*  center*/
  gap: 30px;
  margin: 0 30px;
  /*  height: 534px; 
  justify-content: flex-end; */
}

.result {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
}

.result__video-container {
  position: relative;
  display: flex;
  height: 386px;
  width: 711px;
  margin-bottom: 16px;
}

.result__video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  margin-bottom: 16px;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
  padding: 0;
  border: 0;
}

/* БЛОК ГОРОД,СУТКИ, НАЙТИ */

.search-form {
  display: flex;
  justify-content: space-between;
  /*  height: 54px; */
}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  width: fit-content;
  gap: 5px;
  border: none;
}

.search-form__fieldset-title {
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.search-form__label {
  display: flex;
  gap: 5px;
  width: fit-content;
  align-items: center;
  cursor: pointer;
}

/*поле ввода в стандарте*/

.search-form__textfield {
  /* color: rgba(255, 255, 255, 0.7); значение по образцу из Фигмы */
  color: #fff; /* значение по ревью */
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  outline: none;
  background-color: transparent;
  min-width: 225px;
  min-height: 27px;
  border: none;
  border-top: 1px solid currentColor;
  border-bottom: 1px solid currentColor;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0;
}

/*нажатие мышь на выборе города - обводка без большого отступа объединяет горизонтальные линии*/

.search-form__textfield:active {
  outline: 1px solid #fff;
  outline-offset: -1px;
  /* padding: -1px 0px 0px 0px; */
}

/*при наведении курсора на все, кроме выбора города*/

.search-form__label:hover :not(.search-form__textfield) {
  text-decoration: underline 1px #fff;
  text-underline-offset: 1px;
}

/*выделение tab всего с двойным отступом*/

.search-form__label:has(:focus-visible) /*:not(.search-form__textfield)*/ {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

/*Чекбокс*/

.search-form__label-text {
  text-decoration: none;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.search-form__label .search-form__pseudo-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  position: relative;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::before {
  content: "";
  background-color: #fff;
  width: 15px;
  height: 15px;
  display: block;
}

/*кнопки*/

.search-form__submit-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.button {
  border: 1px solid currentColor;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 700;
  font-size: 18px;
  background-color: transparent;
  font-style: normal;
  text-align: center;
  line-height: normal;
  cursor: pointer;
  height: 34px;
  width: 194px;
  align-self: flex-end;
}

.button:active {
  background: #545050;
  text-decoration: none;
}

.button:hover {
  text-decoration: underline;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.more-button {
  width: 100%;
}

/*правая колонка */

.content__details {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.title {
  align-items: end;
  position: relative;
  height: 100%;
  color: #fff;
  font-family: Oswald, sans-serif;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 94%; /* 70.5px */
  text-transform: uppercase;
  margin-bottom: 21px;
  /*  margin-bottom: 26px; */ /*по инстроукции 26, по PP - 24*/
}

.content__accent {
  color: #545050;
}

.content__list {
  display: flex;
  flex-direction: column;
  height: 298px;
  overflow-y: auto;
  /* overflow-x: hidden;  добавлен после включения отображения скролов */
  position: relative;
  padding: 2px 3px 3px; /* значение добавлено для отображения focus у 
  кнопки "Показать еще". Вызывает незначительное смещение карточек с результатами поиска. 
  В ТЗ состояние кнопки визуально в Фигме не отображено, следовательно данная строка 
  может быть удалена при необходимости*/
}

/* .content__list::-webkit-scrollbar {
  display: none;
} */ /*на образце скрол не отображается*/

.content__list-item:not(:last-child) {
  margin-bottom: 30px;
}

.content__card-link {
  display: block;
  color: #fff;
  text-decoration: none;
}

.content__card-link:active {
  background-color: rgba(84, 80, 80, 1);
}

.content__card-link:hover {
  text-decoration: underline 1px #fff;
  text-underline-offset: 2px;
  text-decoration-skip-ink: none;
}

.content__card-link:focus {
  outline: none;
}
.content__card-link:focus-visible {
  outline: 1px solid #fff;
}
.content__card-link_current {
  background-color: rgba(84, 80, 80, 1);
}

.content__video-card {
  display: flex;
  justify-content: space-between;
  padding: 2px 2px;
  min-width: 394px; /* карточка Тбилиси после поиска является единственным 
  результатом и поле становится узким - значение добавлено для единообразия 
  отображения результатов и может быть удалено при необходимости*/
}

.content__video-card-description-container {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  width: 100%;
}

.content__video-card-title {
  font-family: Oswald, sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 30px */
  text-transform: uppercase;
  margin-bottom: 6px;
  padding: 3px 2px 0px 0px;
  /* hyphens: auto; свойство было добавлено для длинных названий городов */
}

.content__video-card-description {
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.2px; /* 90% */
  padding: 0px 0px 1px 0px;
  /*max-height: 65px; при наличии скрола для описания позволяет создать систематизированную структуру страницы с одинаковыми полями*/
  /* overflow-y: auto; */
}

/* .content__video-card-description::-webkit-scrollbar {
  display: none;
} 

необходимость скрола не прописана в задании. скрол добавлен для корректного 
отображения описания избольшого кол-ва слов. 
Так как в данной сборке описания короткие в .content__video-card-description 
выключено  overflow-y: auto; */

.content__video-card-thumbnail {
  height: 103px;
  width: 194px;
  object-fit: cover;
  object-position: center;
}
